.accordion {
    /////////////////////
    // Layout & Design //
    /////////////////////
    
    @extend .pp;

    .accordion-body {
        @extend .stack;
    }


    // Analogous defs of `.accordion-item` and `.block-item` 
    .accordion-block { @extend .accordion-item;   }
    .block-header    { @extend .accordion-header; }
    .block-title     { @extend .accordion-button; }

    // Remove double-border
    .accordion-button.collapsed { border-width: 0; }
    
    // Remove toggle button
    .block-title::after { display:none; }


    //////////////////////////
    // Typography & Margins //
    //////////////////////////

    .acc-h2, .acc-h3, .acc-h4 {
        display:block;
    }

    .acc-h2 { @extend h4; }
    .acc-h3 { @extend h5; }
    .acc-h4 { @extend h6; }
}